<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 bg-light p-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Table Content -->
    <div class="col-lg-9 p-3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Yetki</th>
          @if (localStorage.getItem('role') === 'ROLE_ADMIN'){
            <th scope="col">İşlem</th>
          }
        </tr>
        </thead>
        <tbody>
        @for(user of users; track user.username){
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            @if (localStorage.getItem('role') === 'ROLE_ADMIN'){
              <td>
                <button class="btn btn-danger" (click)="deleteUser(user.username)">Sil</button>
              </td>
            }
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
